<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uozzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="css/style.css" rel="stylesheet">
    
</head>
<body class="debug">

    <div id="app">

        <div class="container d-flex"> 
            <div class="left-nav">
                <div class="user-nav d-flex">

                    <div class="prof-pic">
                        <img src="img/avatar_io.jpg" class="prof-img"/>
                    </div>
                    
                    <div class="nav-icons d-flex">
                        <i class="fa-solid fa-user-group"></i>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>

                <div class="searchbar-container">
                    <input type="text" class="searchbar" placeholder="cerca tra le chat">
                </div>

                <div class="alert d-flex">
                    <div class="bell-icon">
                        <i class="fa-regular fa-bell-slash"></i>
                    </div>

                    <div class="alert-text white-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva le notifiche</a>
                    </div>
                </div>

                <div class="contacts m-top-1">
                    <ul>
                        <li v-for="contact in contacts" :key="contact.name">
                            <div class="contact d-flex" @click="selectContact(contact)">
                                <img :src="contact.avatar" class="contact-prof-pic" />
                                <span class="contact-name white-text">{{ contact.name }}</span>
                            </div>                           
                        </li>
                      </ul>
                </div>
            </div>

            <div class="chat-box">
                <header class="chat-header d-flex">
                    
                        <img :src="selectedContact.avatar" class="contact-prof-pic" />
                        <div>
                            <span class="chat-box-name white-text">{{ selectedContact.name }}</span>
                            
                        </div>
                        
                    
                </header>

                <main class="chat-main d-flex">
                    <div v-for="message in selectedContact.messages" :key="message" :class="{ 'message': true, 'sent': message.status === 'sent', 'received': message.status === 'received',  }">
                        <span>{{ message.message }}</span>
                        <div class="text-date"> {{ new Date(message.date).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }} </div>
                    </div>
                </main>

                <footer class="chat-footer">
                    <div class="attachments">
                        <i class="fa-solid fa-face-laugh-beam m-8"></i>
                        <i class="fa-solid fa-paperclip m-8"></i>
                    </div>

                    <input type="text" placeholder="Scrivi un messaggio" class="text-bar" v-model="textSent" @keyup.enter="sendText">


                    <i class="fa-solid fa-arrow-right m-right-1 m-left-1" @click="sendText" ></i>
                    <i class="fa-solid fa-microphone m-right-1"></i>
                </footer>
            </div>

        </div>

    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script> 
</body>
</html>

